---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="w-full max-w-5xl mx-auto p-6 min-h-screen">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Política de Cookies</h1>

        <p class="text-gray-700 leading-relaxed text-justify">
            En Prese Home, utilizamos cookies para mejorar tu experiencia en nuestra página web, analizar el tráfico, personalizar el contenido y ofrecerte anuncios relevantes. Al continuar navegando por nuestro sitio, aceptas el uso de cookies según lo descrito en esta Política de Cookies.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">1. ¿Qué son las Cookies?</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, móvil o tablet) cuando visitas un sitio web. Permiten que el sitio recuerde tus acciones y preferencias (como inicio de sesión, idioma, tamaño de fuente y otras preferencias) durante un período de tiempo, para que no tengas que volver a configurarlas cada vez que accedas al sitio.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">2. ¿Por qué utilizamos Cookies?</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Usamos cookies por varios motivos:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li><strong>Mejorar la experiencia del usuario:</strong> Las cookies nos permiten personalizar tu experiencia en el sitio web, recordar tus preferencias y configuraciones para facilitar tu navegación.</li>
            <li><strong>Analizar el tráfico:</strong> Usamos cookies para analizar cómo interactúan los usuarios con nuestro sitio web, lo que nos ayuda a mejorar su rendimiento y funcionalidad.</li>
            <li><strong>Publicidad:</strong> Las cookies nos permiten ofrecerte publicidad personalizada, según tus intereses y comportamientos de navegación en nuestra tienda online.</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">3. Tipos de Cookies que Utilizamos</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Utilizamos los siguientes tipos de cookies en nuestro sitio web:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li><strong>Cookies estrictamente necesarias:</strong> Estas cookies son esenciales para permitirte navegar por el sitio web y usar sus funciones, como acceder a áreas seguras del sitio.</li>
            <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten analizar cómo los usuarios navegan por el sitio web para mejorar su funcionamiento y contenido.</li>
            <li><strong>Cookies funcionales:</strong> Estas cookies permiten recordar tus preferencias y elecciones, como tu idioma o la región desde la que navegas, para ofrecerte una experiencia personalizada.</li>
            <li><strong>Cookies de publicidad:</strong> Estas cookies se utilizan para ofrecer anuncios más relevantes para ti, basados en tu historial de navegación.</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">4. ¿Cómo puedes controlar las Cookies?</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Puedes controlar y gestionar el uso de cookies a través de la configuración de tu navegador. Si prefieres no recibir cookies, puedes configurar tu navegador para que las rechace o para que te notifique cuando se envíen cookies a tu dispositivo.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify mt-4">
            Ten en cuenta que si desactivas algunas cookies, es posible que algunas funciones del sitio web no estén disponibles o no funcionen correctamente.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">5. Consentimiento de las Cookies</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Al acceder a nuestro sitio web, te pediremos tu consentimiento para el uso de cookies. Si aceptas, entendemos que consientes el uso de todas las cookies descritas en esta Política. Sin embargo, puedes cambiar tu configuración en cualquier momento o retirar tu consentimiento en el banner de cookies que aparece en la parte inferior de la página.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">6. Cookies de Terceros</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Algunos servicios de terceros (como Google Analytics o plataformas de publicidad) también pueden utilizar cookies en nuestro sitio para mejorar su rendimiento o para ofrecerte publicidad personalizada. Estas cookies están fuera de nuestro control directo y, si lo deseas, puedes gestionar el uso de estas cookies a través de sus plataformas.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">7. Cambios en la Política de Cookies</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Prese Home se reserva el derecho de modificar esta Política de Cookies en cualquier momento. Cualquier cambio en esta política será publicado en esta página y, si es necesario, te notificaremos de los cambios realizados.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">8. Contacto</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Si tienes alguna pregunta sobre esta Política de Cookies o sobre cómo usamos las cookies en nuestro sitio web, no dudes en ponerte en contacto con nosotros a través de la siguiente dirección de correo electrónico: [Correo electrónico de contacto].
        </p>
    </section>
</Layout>
