---
import Layout from '../layouts/Layout.astro';
import TablaEventos from '../components/admin/TablaEventos.jsx';
---

<Layout>
  <section class="min-h-screen max-w-7xl mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold mb-8 text-center">Gestión de Eventos</h1>
    <TablaEventos />
  </section>
</Layout>
