---
import Layout from '../layouts/Layout.astro';
import TablaProductos from '../components/admin/TablaProductos.jsx';
---

<Layout>
  <section class="min-h-screen max-w-7xl mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold mb-8 text-center">Gestión de Productos</h1>
    <TablaProductos />
  </section>
</Layout>
