---
import Layout from '../layouts/Layout.astro';
import TablaDevoluciones from '../components/admin/TablaDevoluciones.jsx';
---

<Layout>
  <section class="min-h-screen max-w-7xl mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold mb-8 text-center">Gestión de Devoluciones</h1>
    <TablaDevoluciones />
  </section>
</Layout>
