---
import Layout from '../layouts/Layout.astro';
import TablaOpiniones from '../components/admin/TablaOpiniones.jsx';

export const prerender = false;

const response = await fetch('http://localhost:5000/rol-sesion', {
  headers: Astro.request.headers,
});

if (!response.ok) {
  return Astro.redirect('/');
}

const { rol } = await response.json();

if (rol !== 'Admin') {
  return Astro.redirect('/');
}
---

<Layout>
  <section class="min-h-screen max-w-7xl mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold mb-8 text-center">Gestión de Reseñas</h1>
    <TablaOpiniones client:load/>
  </section>
</Layout>
