---
import Layout from '../layouts/Layout.astro';
import PedidosUser from '../components/Pedidos.jsx'
---

<Layout>
    <section class="min-h-screen">
        <PedidosUser client:load>
    </section>
</Layout>