---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="w-full max-w-5xl mx-auto p-6 min-h-screen">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Política de Privacidad</h1>

        <p class="text-gray-700 leading-relaxed text-justify">
            En Prese Home, nos tomamos muy en serio la privacidad y la protección de tus datos personales. En esta Política de Privacidad te explicamos cómo recopilamos, usamos, compartimos y protegemos tus datos personales de acuerdo con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales (Reglamento General de Protección de Datos o RGPD) y la legislación española aplicable en materia de privacidad.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">1. Responsable del Tratamiento</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            El responsable del tratamiento de los datos personales es Almacén Prese, con CIF [Número de CIF], con domicilio social en [Dirección de la empresa], y cuya dirección de correo electrónico de contacto es [Correo electrónico de contacto]. 
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">2. Datos Personales Recopilados</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Recopilamos datos personales que nos proporcionas directamente a través de formularios de contacto, suscripciones a boletines, compras en línea y otras interacciones con nuestros servicios. Los datos personales que podemos recopilar incluyen, entre otros:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li>Nombre y apellidos</li>
            <li>Dirección de correo electrónico</li>
            <li>Dirección postal</li>
            <li>Teléfono</li>
            <li>Información de pago (en el caso de compras)</li>
            <li>Datos de navegación (cookies y tecnologías similares)</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">3. Finalidades del Tratamiento</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Los datos personales que recopilamos se utilizan para los siguientes fines:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li>Gestionar y procesar pedidos y compras</li>
            <li>Envío de comunicaciones comerciales y boletines informativos</li>
            <li>Mejorar nuestros servicios y la experiencia del usuario</li>
            <li>Cumplir con nuestras obligaciones legales</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">4. Base Legal para el Tratamiento</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            El tratamiento de tus datos personales está basado en las siguientes bases legales:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li>El consentimiento explícito del usuario (por ejemplo, cuando te suscribes a nuestro boletín).</li>
            <li>La necesidad de cumplir con un contrato (por ejemplo, para gestionar una compra).</li>
            <li>El cumplimiento de obligaciones legales.</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">5. Destinatarios de los Datos</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Los datos personales no serán cedidos a terceros, salvo en los siguientes casos:
        </p>
        <ul class="text-gray-700 list-disc ml-6 mt-4">
            <li>Proveedores de servicios que nos ayudan a gestionar el sitio web y las compras, como proveedores de hosting, servicios de pago y empresas de transporte.</li>
            <li>Cumplimiento de obligaciones legales, como la cesión a autoridades o administraciones públicas.</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">6. Derechos de los Usuarios</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Tienes derecho a acceder, rectificar, suprimir, oponerte, limitar el tratamiento, y portabilidad de tus datos personales. Además, tienes derecho a retirar tu consentimiento en cualquier momento sin que ello afecte a la licitud del tratamiento previo a la retirada.
        </p>
        <p class="text-gray-700 leading-relaxed text-justify mt-4">
            Para ejercer estos derechos, puedes enviarnos una solicitud a la siguiente dirección de correo electrónico: [Correo electrónico de contacto].
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">7. Plazo de Conservación de los Datos</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Conservaremos tus datos personales durante el tiempo necesario para cumplir con las finalidades para las que fueron recabados, así como para cumplir con nuestras obligaciones legales.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">8. Seguridad de los Datos</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Implementamos medidas de seguridad adecuadas para proteger tus datos personales frente a accesos no autorizados, alteraciones, divulgación o destrucción. Sin embargo, debes ser consciente de que ninguna transmisión de datos a través de internet o método de almacenamiento electrónico es completamente seguro.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">9. Cambios en esta Política de Privacidad</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier actualización.
        </p>

        <h2 class="text-2xl font-semibold text-gray-900 mt-6">10. Información de Contacto</h2>
        <p class="text-gray-700 leading-relaxed text-justify mt-2">
            Si tienes alguna pregunta sobre esta Política de Privacidad o sobre cómo tratamos tus datos personales, no dudes en contactarnos a través de la siguiente dirección de correo electrónico: [Correo electrónico de contacto].
        </p>

    </section>
</Layout>
